<t appPageTitle title='Dashboard'> </t>

@if (allProducts()) {

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            @for (i of pageArr; track i) {
                <li [class.active]="i == active" class="page-item" (click)="getProducts(i)"><a class="page-link" role="button">{{i}}</a></li>
            }
        </ul>
    </nav>

    <div #proArr class="row">
    @for (item of allProducts()?.data; track item.id) {
        <app-product-item class="col-sm-3" [product]="item" />
    }
    </div>
}


